---
interface Props {
  /** Extra classes for the list wrapper */
  className?: string;

  /** Additional HTML attributes */
  [attrs: string]: any;
}

const {
  className = "",
  ...attrs
} = Astro.props as Props;
const classes = ["av-feature-list"];
if (className) classes.push(className);
const classAttr = classes.join(" ");
---

<div class={classAttr} {...attrs}>
  <slot />
</div>
